body {
    font-family: 'Inter', sans-serif;
}

.container {
    max-width: 870px;
    width: 100%;
    margin: 0 auto;
}

/* NAVBAR */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 44px;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-link {
    font-size: 16px;
    line-height: 150%;
    color: #BF7506;
    text-decoration: none;
    padding-right: 24px;
}

.nav-link.active {
    font-weight: 700;
}

/* header */

.header {
    display: flex;
    align-items: center;
    padding: 74px 0;
}

.header-text {
    margin-left: 27px;
}

.header-strong {
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    color: #211B12;
}

.header-heading {
    max-width: 510px;
    margin: 8px 0 24px 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 135%;
    color: #211B12;
}

.header-primary {
    color: #BF7506;
}

.header-links {
    display: flex;
    align-items: center;
}

.social-list {
    display: flex;
    list-style: none;
    padding: 0;
    align-items: center;
}

.social-link {
    padding: 8px;
    display: inline-block;
}

.cv-download {
    display: flex;
    margin-left: 55px;
    align-items: center;
    padding: 7px 8px;
    border-bottom: 2px solid #BF7506;
    text-decoration: none;
    color: #211B12;
}

.cv-icon {
    margin-right: 4px;
}

.cv-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
}

/* Portfolio */

.portfolio {}

.portfolio-header {
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    letter-spacing: -0.03em;
    color: #BF7506;
    margin: 0 0 32px 0;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.card {
    max-width: 400px;
}

.card-wrapper {
    padding: 16px;
}

.card-title {
    margin: 0 0 8px 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 135%;
    letter-spacing: -0.02em;
    color: #BF7506;
}

.tags {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.tag-link {
    padding: 4px 8px;
    text-decoration: none;
    font-size: 12px;

    color: #211B12;
    background: #FFFFFF;
    border: 1px solid #DD9C3C;
    border-radius: 4px;
    margin-right: 4px;
}

.card-text {
    margin: 0;
    padding: 17px 0;
    font-weight: 400;
    font-size: 16px;
    color: #211B12;
}

.card-buttons {
    display: flex;
    align-items: center;

}

.card-button {
    display: flex;
    align-items: center;
    padding: 7px 8px;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    color: #211B12;
    border-bottom: 2px solid #BF7506;
    margin-right: 25px;
}

.card-button-icon {
    margin-right: 4px;
}