html {
    font-size: 16px;
}

body {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    color: #211B12;
}

a {
    color: #211B12;
    text-decoration: none;
}

.container {
    max-width: 870px;
    width: 100%;
    margin: 0 auto;
}

.h2-title {
    margin: 0;
    font-weight: 700;
    font-size: 2rem;
    line-height: 125%;
}

.h2-title--orange {
    color: #BF7506;
}

.h3-title {
    margin: 0;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 125%;
}

.h3-title--orange {
    color: #BF7506;
}

.text-block {
    margin: 16px 0;
    line-height: 150%;
}


/* NAVBAR */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}

.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
}

.nav-link {
    line-height: 150%;
    color: #BF7506;

}

.nav-item:not(:last-child) {
    padding-right: 24px;
}

.nav-link:hover {
    font-weight: 700;
}

/* header */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 74px 0;
}

.header-photo {
    max-width: 210px;
}

.header-text {
    margin-left: 27px;
}

.header-strong {
    font-weight: 700;
    font-size: 3rem;
    line-height: 125%;
    /* display: block; */
    text-align: center;
}

.header-heading {
    /* max-width: 510px; */
    margin: 8px 0 24px 0;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 135%;

}



.header-links {
    display: flex;
    align-items: center;
}

.social-list {
    display: flex;
    list-style: none;
    padding: 0;
    align-items: center;
}

.social-link {
    padding: 8px;
    display: inline-block;
}

.cv-download {
    display: flex;
    margin-left: 55px;
    align-items: center;
    padding: 7px 8px;
    border-bottom: 2px solid #BF7506;
    font-weight: 700;
    line-height: 150%;
}

.cv-icon {
    margin-right: 4px;
}

.cv-text {
    font-weight: 700;
    line-height: 150%;
}

/* Portfolio */

.portfolio-header {
    font-weight: 700;
    font-size: 3rem;
    line-height: 125%;
    color: #BF7506;
    margin: 0 0 32px 0;
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    max-width: 400px;
}

.card-wrapper {
    padding: 16px;
}

.tags {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding: 10px 0 0;
}

.tag-link {
    padding: 4px 8px;
    font-size: 0.75rem;
    display: inline-block;
    background: #FFFFFF;
    border: 1px solid #DD9C3C;
    border-radius: 4px;
    margin-right: 4px;
    margin-bottom: 4px;
}


.card-buttons {
    display: flex;
    align-items: center;

}

.card-button {
    display: flex;
    align-items: center;
    padding: 7px 8px;
    font-weight: 700;
    border-bottom: 2px solid #BF7506;
    margin-right: 25px;
}

.card-button-icon {
    margin-right: 4px;
}

/*****************************/
/*DEVELOPER*/
.developer {
    margin-top: 80px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.developer-photo {
    border-radius: 20px;
    outline: 1px solid #ccc;
    max-width: 360px;
    max-height: 440px;
    flex-shrink: 0;
    object-fit: cover;
}

.developer-about {
    margin-left: 55px;
}

.developer-hello {
    font-size: 1.5rem;
    line-height: 135%;
    padding-bottom: 4px;
}

.motto {
    font-family: 'Helvetica', serif;
    font-size: 1.5rem;
    line-height: 150%;
    color: #DD9C3C;
    margin: 16px 0;
}

.developer-sign {
    max-width: 200px;
}

.feedback {
    padding: 80px 0 160px;
    position: relative;
}

.input-group {
    position: relative;
    padding-top: 11px;

}

.input-label {
    position: absolute;
    top: 0;
    left: 16px;
    color: #83807C;
    line-height: 150%;
    padding: 0 8px;
    background: white;
}

.input {
    border: 3px solid #E0DEDC;
    border-radius: 4px;
    width: 435px;
    height: 56px;
}

.textarea {
    min-height: 140px;
    resize: vertical;
}

.form-container {
    max-width: 435px;
    margin: 0 auto;
}

.submit-button {
    display: flex;
    align-items: center;
    border: none;
    border-bottom: 2px solid #BF7506;
    text-decoration: none;
    background-color: white;
    cursor: pointer;
    font-weight: 700;
    line-height: 150%;
    outline: none;
}

.button-group {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
}

.footer {
    font-family: 'Helvetica';
    line-height: 150%;
    text-align: center;
    color: #83807C;
    padding-bottom: 16px;
}

.hand {
    position: absolute;
    right: 10%;
    top: 25%;
    width: 25%;
}

/******************************/
/*MEDIA ZAPROS*/
/******************************/

@media (max-width:600px) {
    .container {
        max-width: 90%;
    }

    .navbar,
    .header,
    .header-links,
    .cards {
        flex-direction: column;
    }

    .header {
        text-align: center;
    }

    .cv-download {
        margin-left: 0;
    }

}